# {
    margin: 0;
    padding: 0;
}

.logo {
    width: 5%;
    weight: 5%;
}

.pai {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    display: inline;
    padding: 20px;
}

nav a {
    text-transform: uppercase;
    font-size: 30px;
    text-decoration: none;
    color: rgb(1, 4, 7);
}

body {
    background-color: aquamarine;
}

#banner{
    width: 100%;
}

h1 {
    color: brown;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;

}

.textos {
    color: rgb(29, 20, 20);
    font-size: 30px;
    text-align: center;
}
